<nav class="nav navbar-default">
	<div class="havbar-header">
		<a class="navbar-brand"  href="#">TR</a>
	</div>
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<div class="search">
				<%= form_tag(search_tag_path, :method => 'get', :id => 'header-search', :class => "navbar-form navbar-left") do %>
						<%= text_field_tag :tag, params[:tag], placeholder: "search", :class => "form-control" %>
						<%= button_tag "", name: nil, :class => 'btn btn-default' do %> 
							<span class="glyphicon glyphicon-search"></span>
						<% end %>
				<% end %>
			</div>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li>
					<%= link_to dashboard_path() do %>
					<i class="glyphicon glyphicon-home"></i>
					<% end %>
				</li> 
				<li>
					<%= link_to  "#", :class => "dropdown-toggle", :'data-toggle' => 'dropdown' do %>
					<i class="glyphicon glyphicon-pencil"></i>
					<% end %>
					<ul class='dropdown-menu'>
						<li><%= link_to "Text", new_text_path %></li>
						<li><%= link_to "Photo", new_photo_path %></li>
					</ul>
				</li>
				<li><%= link_to current_user.name, blog_path(current_user.primary_blog) %></li>
			<% else %>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
				<li><%= link_to 'Sign In', new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
</nav>