<div class="row">
	<div class="post-container" data-post=<%= post.id %> data-blog=<% post.blog.id %>>
		<%= render 'posts/post_head', post: post %>
		<%= render post_view_name(post), post: post %>
		<%= render 'posts/tags', post: post %>
		<%= render 'posts/post_foot', post: post %>
	</div>
</div>