<% if @text.errors.any? %>
	<% @text.errors.full_messages.each do |m| %>
		<div class="danger"><%= m %></div>
	<% end %>
<% end %>

<div class="post-form col-sm-8 col-sm-offset-2">
<%= form_for @text do |f| %>
	<%= f.hidden_field :blog_id, value: current_user.primary_blog.id %>

		<%= f.text_field :title, placeholder: "Title", :class => "form-control"%>
		<%= f.text_area :body, :class => "form-control" %>

		<%= f.text_field :tag_list, placeholder: "Tags (separated by comma)", :class => 'form-control' %>

		<div class="form-actions">
			<%= f.submit :class => "btn btn-primary" %>
			<button class="btn btn-default"><%= link_to "Cancel", root_path %></button>
		</div>
<% end %>
</div>